<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" (keyup)="buscarUsuario(input.value)" #input class="form-control" placeholder="buscar usuario">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>cargando....</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-x2"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados {{totalRegistros}}</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70"><img [src]="usuario.img | imagen" class="w50 img-circle pointer" (click)="invocarModal(usuario)"></td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.nombre}}</td>
                            <td>
                                <select name="role" class="form-control" [(ngModel)]="usuario.role" [value]="usuario.role">
                                    <option value="ADMIN_ROLE">Admin role</option>
                                    <option value="USER_ROLE">User role</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="usuario.google" class="label label-danger">Google</label>
                                <label *ngIf="!usuario.google" class="label label-primary">normal</label>
                            </td>
                            <td><button (click)="guardarUsuario(usuario)" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                            </button>
                            &nbsp;
                            <button (click)="borrarUsuario(usuario)" class="btn btn-secondary">
                                <i class="fa fa-trash"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    anteriores
                </button>
                &nbsp;
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    siguientes
                </button>
            </div>
        </div>
    </div>
</div>