<nav class="nav nav-pills nav-fill">
  <!-- MENU DE CONTROL BASICO -->
  <div class="dropdown" style="margin-right:15px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Controles
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" routerLink="/control">Control</button>
      <button class="dropdown-item" type="button" routerLink="/controlOne">Control uno</button>
    </div>
  </div>
  <!-- MENU DE FORM GROUP -->
  <div class="dropdown" style="margin-right:15px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Form Group
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" routerLink="/formBasicOne">Basico</button>
      <button class="dropdown-item" type="button" routerLink="/formBasic">Basico Uno</button>      
      <button class="dropdown-item" type="button" routerLink="/formBasicTwo">Basico 2</button>
      <button class="dropdown-item" type="button" routerLink="/formGroupRadioCheck">Controles, checbox y select</button>
    </div>
  </div>
  <!-- MENU DE FORM GROUP ANIDADOS-->
  <div class="dropdown" style="margin-right:15px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Form Group anidados
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" routerLink="/formGroupAnidado">Anidado uno</button>
      <button class="dropdown-item" type="button" routerLink="/formBasicThree">Anidado Array</button>
      <button class="dropdown-item" type="button" routerLink="/formGroupArray">Anidado Array dos</button>
    </div>
  </div>
  <!-- MENU DE FORM BUILDER -->
  <div class="dropdown" style="margin-right:15px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Form Builder
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" routerLink="/formBuilderBasico">Basico</button>
      <button class="dropdown-item" type="button" routerLink="/formBuilderGroup">Group</button>
      <button class="dropdown-item" type="button" routerLink="/validationFormArray">Validacion Form Array</button>
      <button class="dropdown-item" type="button" routerLink="/groupArray">Group array</button>
    </div>
  </div>
</nav>