<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Medico: NOMBRE MEDICO</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">
                        <div class="form-group">
                            <label>Nombre del medico</label>
                            <input type="text" [[(ngModel)]]="medico.nombre" name="nombre" class="form-control" placeholder="Nombre del medico" required>
                        </div>
                        <div class="form-group">
                            <label>Hospital</label>
                            <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                                <option value="">Seleccione hospital</option>
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                                    {{hospital.nombre}}
                                </option>
                            </select>
                        </div>
                        
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light" routerLink="/medicos">Regresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">hospital: {{hospital.nombre}}</h4>
            <img [src]="hospital.img | imagen:'hospital'" class="img-fluid pointer" (click)="invocarModal(hospital)">
        </div>
    </div>

    <div class="col-md-3" *ngIf="medico._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Fotografia: {{medico.nombre}}</h4>
            <img [src]="medico.img | imagen:'medico'" class="img-fluid pointer" (click)="invocarModal(medico)">
        </div>
    </div>
</div>
